@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/reset';

.social-container {
    display: flex;
    flex-direction: row;
    gap: $gap;
    color: $secondaryOrange;
}