@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/typography";
@import "../../styles/reset";

.edit {
  padding: $padding-massive;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    @include subtitleFont;
    text-align: center;
  }
  &__add {
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: $padding-huge 0;
    input {
        margin-left: auto;
    }
    textarea {
      @include paragraphFont;
      border: 1px solid black;
    }
  }
  &__card-container {
    width: 100%;
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: $gap-huge;
    align-items: center;
  }
}
