@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/typography";
@import "../../styles/reset";

.edit-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .edit {
    flex: 1;
    padding: $padding-massive;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      @include subtitleFont;
      text-align: center;
    }
    &__add {
      display: flex;
      flex-direction: column;
      gap: $gap;
      padding: $padding-huge 0;
      input {
          margin-left: auto;
      }
      textarea {
        @include paragraphFont;
        border: 1px solid black;
      }
    }
    &__card-container {
      width: 100%;
      max-width: 80vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(21.8rem, 1fr));
      gap: $gap-huge;
      align-items: start;
    }
  }
  .error {
    @include paragraphFont;
    color: $error;
  }
  .response {
    @include paragraphFont;
  }
}
