@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/reset';

.about {
    background: url('/working.jpg') no-repeat, rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: $padding-massive;
    height: 65vh;
    &__box {
        width: 20vw;
        background-color: $primaryDark;
        padding: $padding-huge;
        &--title {
            @include subtitleFont;
            color: $primaryLightOrange;
            margin-bottom: $margin-large;
        }
        &--text {
            @include paragraphFont;
            color: $white;
        }
    }
}