@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/reset';

.login-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}