@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/reset';

.landing {
    &__hero {
        @include background('/truck.jpg', rgba(0,0,0,0.5), center 58%);
        min-height: 65vh;
        padding: $padding-massive;
        color: $white;
        h2 {
            @include titleFont;
        }
        h3 {
            @include subtitleFont;
            margin-bottom: $margin-huge;
        }
    }
    &__service-section h3 {
        @include subtitleFont;
        text-align: center;
        padding: $padding-massive;
    }
    &__about-section {}

    @media (max-width: 768px) {
        &__hero {
            padding: $padding-massive $padding;
            h2 {
                @include subtitleFont;
            }
            h3 {
                @include subtitleFont-sml;
            }
        }
        &__service-section h3{
            @include subtitleFont-sml;
            padding: $padding-massive $padding;
        }
    }
}