@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/reset';

.landing {
    &__hero {
        background: url('./bygg.JPG') center/cover, rgba(0,0,0,0.5);
        background-blend-mode: multiply;
        min-height: 50vh;
        padding: $padding-massive;
        color: $white;
        h2 {
            @include titleFont;
        }
        h3 {
            @include subtitleFont;
            margin-bottom: $margin-huge;
        }
    }
    &__service-section h3 {
        @include subtitleFont;
        text-align: center;
        padding: $padding-massive;
    }
    &__about-section {}
}