@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/reset';

.login {
    display: flex;
    flex-direction: column;
    padding: $padding-large;
    background-color: $primaryDark;
    color: $white;
    max-width: 21.8rem;
    height: auto;
    @include paragraphFont;
    input {
        padding: $base;
        margin-bottom: $base;
    }
    button {
        margin: $margin-huge auto 0 auto;
    }
}